.card-test {
   width: 40rem;
   height: 20rem;
   background-color: #fefefe;
   padding: 1rem;
   margin: 2rem;
   border-radius: 1rem;
   box-shadow: 0px 5px 29px 0px #0c0e1020;
   color: #29065b;
}

body {
   background-color: #f7f7f7;
}